body::before {
    content: "";
    position: fixed;
    top: 55px;
    left: 300px;
    width: 80%;
    height: 80%;
    background-image: url('/static/images/three.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(0px);
    z-index: -1;
  }

.text-container {
    background-color: rgba(198, 230, 240, 0.8);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;

}

.text-container h1 {
    font-size: 36px;
}

.text-container p {
    line-height: 1.6;
}
