{% extends 'schoolapp/base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block content %}
<div class="bg-image">
    <div class="overlay"></div>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-container">
                <h1 class="text-center mb-4 text-stroke">О нас</h1>
                <p class="lead text-stroke">В LearnFlow мы верим, что образование - это путь к успеху и самореализации. Наша миссия - предоставлять доступные и эффективные образовательные ресурсы для людей всех возрастов и уровней подготовки.</p>

                <p class="text-stroke">Мы являемся онлайн-платформой для обучения, где собраны курсы по самым разным направлениям - от программирования и дизайна до иностранных языков и личностного развития. Наши курсы разработаны ведущими экспертами в своих областях и постоянно обновляются с учетом последних тенденций и технологий.</p>

                <p class="text-stroke">В LearnFlow мы стремимся сделать процесс обучения увлекательным и интерактивным. Наши курсы включают видео-лекции, интерактивные упражнения, практические задания и возможность общения с преподавателями и другими студентами в онлайн-сообществах.</p>

                <p class="text-stroke">Мы гордимся нашей командой высококвалифицированных специалистов, которые работают над созданием уникального контента, внедрением новейших методик преподавания и обеспечением высокого качества обучения.</p>

                <p class="text-stroke">В LearnFlow мы убеждены, что образование - это не только получение знаний, но и развитие личности, приобретение новых навыков и возможностей для профессионального и личностного роста. Присоединяйтесь к нашему сообществу и откройте для себя новые горизонты!</p>

                <p class="text-center mt-4 text-stroke">Наши социальные сети:</p>
                <div class="d-flex justify-content-center">
                    <a href="https://www.instagram.com/" target="_blank" class="social-link"><i class="fab fa-instagram fa-2x mx-2"></i></a>
                    <a href="https://vk.com/" target="_blank" class="social-link"><i class="fab fa-vk fa-2x mx-2"></i></a>
                    <a href="https://www.youtube.com/" target="_blank" class="social-link"><i class="fab fa-youtube fa-2x mx-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<style>
    .text-stroke {
        color: black;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Прозрачно-черный цвет */
    }

    .social-link {
        color: white;
        transition: color 0.3s;
    }

    .social-link:hover {
        color: #ccc;
    }
</style>
