{% extends 'schoolapp/base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<!-- <div class="bg-image">
    <div class="overlay"></div>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-container">
                <h1 class="text-center mb-4">О нас</h1>
                <p class="lead">В LearnFlow мы верим, что образование - это путь к успеху и самореализации. Наша миссия - предоставлять доступные и эффективные образовательные ресурсы для людей всех возрастов и уровней подготовки.</p>

                <p>Мы являемся онлайн-платформой для обучения, где собраны курсы по самым разным направлениям - от программирования и дизайна до иностранных языков и личностного развития. Наши курсы разработаны ведущими экспертами в своих областях и постоянно обновляются с учетом последних тенденций и технологий.</p>

                <p>В LearnFlow мы стремимся сделать процесс обучения увлекательным и интерактивным. Наши курсы включают видео-лекции, интерактивные упражнения, практические задания и возможность общения с преподавателями и другими студентами в онлайн-сообществах.</p>

                <p>Мы гордимся нашей командой высококвалифицированных специалистов, которые работают над созданием уникального контента, внедрением новейших методик преподавания и обеспечением высокого качества обучения.</p>

                <p>В LearnFlow мы убеждены, что образование - это не только получение знаний, но и развитие личности, приобретение новых навыков и возможностей для профессионального и личностного роста. Присоединяйтесь к нашему сообществу и откройте для себя новые горизонты!</p>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}

<style>
    .text-stroke {
        color: black;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }
</style>
