{% extends 'schoolapp/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/course_lessons.css' %}">
{% endblock %}

{% block content %}
  <div class="container-fluid bg-dark py-5">
    <div class="container">
      <h1 class="text-white mb-4">{{ course.name }}</h1>

      <div class="accordion" id="lessonsAccordion">
        {% for lesson in lessons %}
          <div class="accordion-item bg-dark border-secondary mb-3">
            <h2 class="accordion-header" id="heading-{{ lesson.id }}">
              <button class="accordion-button bg-secondary text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ lesson.id }}" aria-expanded="false" aria-controls="collapse-{{ lesson.id }}">
                {{ lesson.name }}
              </button>
            </h2>
            <div id="collapse-{{ lesson.id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ lesson.id }}" data-bs-parent="#lessonsAccordion">
              <div class="accordion-body bg-secondary text-white p-4">
                <h5>{{ lesson.name }}</h5>
                <p>{{ lesson.description }}</p>
                {% if lesson.video_url %}
                  {% if 'youtube.com' in lesson.video_url or 'youtu.be' in lesson.video_url %}
                    <a href="{{ lesson.video_url }}" target="_blank" class="btn btn-dark">Смотреть видео на YouTube</a>
                  {% else %}
                    <p>Видео не является YouTube-видео.</p>
                  {% endif %}
                {% else %}
                  <p>Видео отсутствует</p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
