{% extends 'schoolapp/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/news_detail.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5 p-5 shadow-sm rounded">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-5 shadow-sm">
                <div class="card-body">
                    <h1 class="card-title">{{ news.title }}</h1>
                    <p class="card-text">{{ news.description|linebreaks }}</p>
                    {% if news.image %}
                    <img src="{{ news.image.url }}" class="card-img-top mt-3" alt="{{ news.title }}">
                    {% endif %}
                    <p class="card-text">
                        <small class="text-muted">Опубликовано: {{ news.pub_date }}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
